
12:47:01
隋祥 2017/4/10 12:47:01
https://corner.com.cn/helloworld.html
13:12:44
细雨纷飞 2017/4/10 13:12:44
http://www.cnblogs.com/sakura-panda/p/3628694.html 

13:20:22
细雨纷飞 2017/4/10 13:20:22
http://www.cnblogs.com/net5x/articles/4224224.html 


17:08:44
细雨纷飞 2017/4/10 17:08:44
https://raw.githubusercontent.com/luyajuan/test.plist/master/test.plist

细雨纷飞 2017/4/10 17:09:07

17:11:06
对方已成功接收了您发送的离线文件“helloworld.ipa”(1.23MB)。
17:27:53
隋祥 2017/4/10 17:27:53
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://corner.com.cn:8080/test/helloworld.ipa 

</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://corner.com.cn:8080/test/helloworld.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://corner.com.cn:8080/test/helloworld.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.corner.hrbqinglian</string>
				<key>bundle-version</key>
				<string>0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>hrbqinglian</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
